In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C:/Users/siby9/Downloads/house-prices-advanced-regression-techniques/train.csv")
test=pd.read_csv("C:/Users/siby9/Downloads/house-prices-advanced-regression-techniques/test.csv")

In [3]:
data['age'] = 2024 - data['YearBuilt']
data['age']

0        21
1        48
2        23
3       109
4        24
       ...
1455     25
1456     46
1457     83
1458     74
1459     59
Name: age, Length: 1460, dtype: int64

In [4]:
data = data[['LotArea','age','RoofStyle','1stFlrSF','2ndFlrSF','BedroomAbvGr','KitchenAbvGr','KitchenQual','Fireplaces','GarageArea','GarageQual','Heating','HeatingQC','SalePrice']]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   age           1460 non-null   int64
 2   RoofStyle     1460 non-null   object
 3   1stFlrSF      1460 non-null   int64
 4   2ndFlrSF      1460 non-null   int64
 5   BedroomAbvGr  1460 non-null   int64
 6   KitchenAbvGr  1460 non-null   int64
 7   KitchenQual   1460 non-null   object
 8   Fireplaces    1460 non-null   int64
 9   GarageArea    1460 non-null   int64
 10  GarageQual    1379 non-null   object
 11  Heating       1460 non-null   object
 12  HeatingQC     1460 non-null   object
 13  SalePrice     1460 non-null   int64
dtypes: int64(9), object(5)
memory usage: 159.8+ KB

In [6]:
data=data.dropna(axis=0)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1379 entries, 0 to 1459
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1379 non-null   int64
 1   age           1379 non-null   int64
 2   RoofStyle     1379 non-null   object
 3   1stFlrSF      1379 non-null   int64
 4   2ndFlrSF      1379 non-null   int64
 5   BedroomAbvGr  1379 non-null   int64
 6   KitchenAbvGr  1379 non-null   int64
 7   KitchenQual   1379 non-null   object
 8   Fireplaces    1379 non-null   int64
 9   GarageArea    1379 non-null   int64
 10  GarageQual    1379 non-null   object
 11  Heating       1379 non-null   object
 12  HeatingQC     1379 non-null   object
 13  SalePrice     1379 non-null   int64
dtypes: int64(9), object(5)
memory usage: 161.6+ KB

In [8]:
column_types=data.dtypes
object_columns=column_types[column_types=='object']
object_columns=list(object_columns.index)
object_columns

['RoofStyle', 'KitchenQual', 'GarageQual', 'Heating', 'HeatingQC']

In [9]:
for i in object_columns:
    dummies = pd.get_dummies(data[i])
    data = pd.concat([data,dummies],axis='columns')
data

,LotArea,age,RoofStyle,1stFlrSF,2ndFlrSF,BedroomAbvGr,KitchenAbvGr,KitchenQual,Fireplaces,GarageArea,...,GasA,GasW,Grav,OthW,Wall,Ex,Fa,Gd,Po,TA
0,8450,21,Gable,856,854,3,1,Gd,0,548,...,True,False,False,False,False,True,False,False,False,False
1,9600,48,Gable,1262,0,3,1,TA,1,460,...,True,False,False,False,False,True,False,False,False,False
2,11250,23,Gable,920,866,3,1,Gd,1,608,...,True,False,False,False,False,True,False,False,False,False
3,9550,109,Gable,961,756,3,1,Gd,1,642,...,True,False,False,False,False,False,False,True,False,False
4,14260,24,Gable,1145,1053,4,1,Gd,1,836,...,True,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,25,Gable,953,694,3,1,TA,1,460,...,True,False,False,False,False,True,False,False,False,False
1456,13175,46,Gable,2073,0,3,1,TA,2,500,...,True,False,False,False,False,False,False,False,False,True
1457,9042,83,Gable,1188,1152,4,1,Gd,2,252,...,True,False,False,False,False,True,False,False,False,False
1458,9717,74,Hip,1078,0,2,1,Gd,0,240,...,True,False,False,False,False,False,False,True,False,False
1459,9937,59,Gable,1256,0,3,1,TA,0,276,...,True,False,False,False,False,False,False,True,False,False

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1379 entries, 0 to 1459
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1379 non-null   int64
 1   age           1379 non-null   int64
 2   RoofStyle     1379 non-null   object
 3   1stFlrSF      1379 non-null   int64
 4   2ndFlrSF      1379 non-null   int64
 5   BedroomAbvGr  1379 non-null   int64
 6   KitchenAbvGr  1379 non-null   int64
 7   KitchenQual   1379 non-null   object
 8   Fireplaces    1379 non-null   int64
 9   GarageArea    1379 non-null   int64
 10  GarageQual    1379 non-null   object
 11  Heating       1379 non-null   object
 12  HeatingQC     1379 non-null   object
 13  SalePrice     1379 non-null   int64
 14  Flat          1379 non-null   bool
 15  Gable         1379 non-null   bool
 16  Gambrel       1379 non-null   bool
 17  Hip           1379 non-null   bool
 18  Mansard       1379 non-null   bool
 19  Shed          1379 non-null   bool
 20  Ex            1379 non-null   bool
 21  Fa            1379 non-null   bool
 22  Gd            1379 non-null   bool
 23  TA            1379 non-null   bool
 24  Ex            1379 non-null   bool
 25  Fa            1379 non-null   bool
 26  Gd            1379 non-null   bool
 27  Po            1379 non-null   bool
 28  TA            1379 non-null   bool
 29  Floor         1379 non-null   bool
 30  GasA          1379 non-null   bool
 31  GasW          1379 non-null   bool
 32  Grav          1379 non-null   bool
 33  OthW          1379 non-null   bool
 34  Wall          1379 non-null   bool
 35  Ex            1379 non-null   bool
 36  Fa            1379 non-null   bool
 37  Gd            1379 non-null   bool
 38  Po            1379 non-null   bool
 39  TA            1379 non-null   bool
dtypes: bool(26), int64(9), object(5)
memory usage: 196.6+ KB

In [11]:
data = data.drop(object_columns,axis=1)

In [12]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [13]:
X=data.drop('SalePrice',axis=1)
y=data.SalePrice

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)

In [15]:
model.fit(X_train,y_train)

LinearRegression()

In [16]:
y_pred=model.predict(X_test)

In [17]:
model.score(X_train,y_train)

0.7889471991563033

In [18]:
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
r2_squared=r2_score(y_test,y_pred)

print("MAE:",mae)
print("MSE:",mse)
print("R2:",r2_squared)

MAE: 24977.318679492928
MSE: 1864945842.197444
R2: 0.7285377291794867